
.ripple span.rippleElement {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
  
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
  
    animation: ripple 1s;
    opacity: 0;
  }
  @keyframes ripple {
    from {
      opacity: 1;
      transform: scale(0);
    }
  
    to {
      opacity: 0;
      transform: scale(10);
    }
}
.MUI_Accordion_Paper {
background-color:var(--MUI_Accordion_Paper-0);
color:var(--MUI_Accordion_Paper-1);
box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
position:relative;
transition:margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
overflow-anchor:none;
border-radius:0px;

}
.MUI_Accordion_Paper:before {
position:absolute;
left:0px;
top:-1px;
right:0px;
height:1px;
content:"";
opacity:1;
background-color:rgba(0, 0, 0, 0.12);
transition:opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
 
}

.MUI_Accordion_Paper_expended:before {
opacity:0;
 
}
.MUI_Accordion_Root {
---webkit-box-align:center;
align-items:center;
---webkit-box-pack:center;
justify-content:center;
position:relative;
box-sizing:border-box;
---webkit-tap-highlight-color:transparent;
background-color:transparent;
outline:0px;
border:0px;
margin:0px;
border-radius:0px;
cursor:pointer;
user-select:none;
vertical-align:middle;
appearance:none;
text-decoration:none;
color:inherit;
display:flex;
min-height:48px;
padding:0px 16px;
transition:min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.MUI_Accordion_Root_expended {
min-height:64px;

}
.MUI_Accordion_Summary {
display:flex;
---webkit-box-flex:1;
flex-grow:1;
margin:12px 0px;
transition:margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.MUI_Accordion_Summary_expended {
margin:20px 0px;

}
.MUI_Accordion_ExpendWrapper {
display:flex;
color:rgba(0, 0, 0, 0.54);
transform:rotate(0deg);
transition:transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.MUI_Accordion_ExpendWrapper_expended {
transform:rotate(180deg);

}
.MUI_Accordion_Content_Root {
min-height:0px;
height:0px;
overflow-y:hidden;
---webkit-transition:height 450ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
transition:height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.MUI_Accordion_Content_Root_expended {
overflow-y:visible;
visibility:visible;
height:auto;

}
.MUI_Accordion_Content_Wrapper {
display:flex;
width:100%;

}
.MUI_Accordion_Content_Wrapper_Inner {
width:100%;

}
.MUI_Accordion_Content {
padding:8px 16px 16px;

}
.MUI_Accordion_Actions {
display:flex;
---webkit-box-align:center;
align-items:center;
padding:8px;
---webkit-box-pack:end;
justify-content:flex-end;

}
.MUI_Paper_Root {
background-color:var(--MUI_Paper_Root-0);
transition:box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
border-radius:4px;
box-shadow:rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
background-image:linear-gradient(rgba(255, 255, 255, 0.16), rgba(255, 255, 255, 0.16));
margin:32px;
position:relative;
overflow-y:auto;
display:flex;
flex-direction:column;
max-height:calc(100% - 64px);
max-width:600px;

}
.MUI_Avatar_Root {
margin:0;
position:relative;
display:flex;
--webkit-box-align:center;
align-items:center;
--webkit-box-pack:center;
justify-content:center;
flex-shrink:0;
width:40px;
height:40px;
font-family:Roboto, Helvetica, Arial, sans-serif;
font-size:1.25rem;
line-height:1;
border-radius:50%;
overflow:hidden;
user-select:none;
color:var(--MUI_Avatar_Root-0);

}
.MUI_Avatar_Image {
width:100%;
height:100%;
text-align:center;
object-fit:cover;
color:transparent;
text-indent:10000px;

}
.MUI_Backdrop_Root {
opacity:1;
transition:opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
position:fixed;
display:flex;
--webkit-box-align:center;
align-items:center;
--webkit-box-pack:center;
justify-content:center;
inset:0px;
background-color:rgba(0, 0, 0, 0.5);
--webkit-tap-highlight-color:transparent;
z-index:-1;

}
.MUI_Badge_Root {
position:relative;
display:inline-flex;
vertical-align:middle;
flex-shrink:0;

}
.MUI_Badge_Badge_Root {
display:flex;
flex-flow:wrap;
--webkit-box-pack:center;
place-content:center;
--webkit-box-align:center;
align-items:center;
position:absolute;
box-sizing:border-box;
font-family:Roboto, Helvetica, Arial, sans-serif;
font-weight:500;
font-size:0.75rem;
z-index:1;
background-color:rgb(33, 150, 243);
transform:scale(1) translate(50%, -50%);
transition:transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
color:rgb(255, 255, 255);
cursor:default;

}
.MUI_Badge_Badge_Root_default {
min-width:20px;
line-height:1;
padding:0px 6px;
height:20px;
border-radius:10px;

}
.MUI_Badge_Badge_Root_dot {
line-height:1;
border-radius:4px;
height:8px;
min-width:8px;
padding:0px;

}
.MUI_Badge_Badge_Root_top-right {
top:0px;
right:0px;

}
.MUI_Badge_Badge_Root_top-left {
top:0px;
left:0px;
transform:translate(-50%, -50%);

}
.MUI_Badge_Badge_Root_bottom-left {
bottom:0px;
left:0px;
transform:translate(-50%, 50%);

}
.MUI_Badge_Badge_Root_bottom-right {
bottom:0px;
right:0px;
transform:translate(50%, 50%);

}
.MUI_BottomNavigation_Root {
display:flex;
--webkit-box-pack:center;
justify-content:center;
height:56px;
background-color:var(--MUI_BottomNavigation_Root-0);
position:fixed;
bottom:0;
left:0;
width:100%;

}
.MUI_BottomNavigationElement_Button {
display:inline-flex;
--webkit-box-align:center;
align-items:center;
--webkit-box-pack:center;
justify-content:center;
position:relative;
box-sizing:border-box;
--webkit-tap-highlight-color:transparent;
background-color:transparent;
outline:0px;
border:0px;
margin:0px;
border-radius:0px;
cursor:pointer;
user-select:none;
vertical-align:middle;
appearance:none;
text-decoration:none;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, padding-top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
padding:0px 12px;
min-width:80px;
max-width:168px;
color:rgba(0, 0, 0, 0.6);
flex-direction:column;
flex:1 1 0%;

}
.MUI_BottomNavigationElement_Icon {
--webkit-user-select:none;
--moz-user-select:none;
--ms-user-select:none;
user-select:none;
width:1em;
height:1em;
display:inline-block;
fill:currentColor;
--webkit-flex-shrink:0;
--ms-flex-negative:0;
flex-shrink:0;
--webkit-transition:fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
transition:fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
font-size:1.5rem;

}
.MUI_BottomNavigationElement_Icon_selected {
color:var(--MUI_BottomNavigationElement_Icon-0);

}
.MUI_BottomNavigationElement_Label {
font-family:Roboto, Helvetica, Arial, sans-serif;
font-size:0.75rem;
opacity:1;
transition:font-size 0.2s ease 0.1s, opacity 0.2s ease;

}
.MUI_BottomNavigationElement_Label_selected {
color:var(--MUI_BottomNavigationElement_Label-0);

}
.MUI_Button {
display:inline-flex;
align-items:center;
justify-content:center;
position:relative;
box-sizing:border-box;
-webkit-tap-highlight-color:transparent;
background-color:transparent;
outline:0px;
border:0px;
margin:0px;
cursor:pointer;
user-select:none;
vertical-align:middle;
appearance:none;
text-decoration:none;
font-family:Roboto, Helvetica, Arial, sans-serif;
font-weight:500;
font-size:0.875rem;
line-height:1.75;
letter-spacing:0.02857em;
text-transform:uppercase;
min-width:64px;
border-radius:4px;
overflow:hidden;
height:fit-content;

}
.MUI_Button_text {
color:rgb(33, 150, 243);
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
padding:6px 8px;

}
.MUI_Button_text:hover {
text-decoration:none;
background-color:rgba(33, 150, 243, 0.08);
 
}
.MUI_Button_contained {
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
color:rgb(255, 255, 255);
background-color:rgb(33, 150, 243);
box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
padding:6px 16px;

}
.MUI_Button_contained:hover {
text-decoration:none;
background-color:rgb(23, 105, 170);
box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
 
}
.MUI_Button_outlined {
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
border:1px solid rgba(33, 150, 243, 0.5);
color:rgb(33, 150, 243);
padding:5px 15px;

}
.MUI_Button_outlined:hover {
text-decoration:none;
background-color:rgba(33, 150, 243, 0.08);
border:1px solid rgb(33, 150, 243);
 
}
.MUI_Button_error_contained {
background-color:#d32f2f;

}
.MUI_Button_error_contained:hover {
background-color:#c62828;
box-shadow:0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
 
}
MUI_Button_error_contained
.MUI_Button_error_outlined {
border:1px solid rgba(211, 47, 47, 0.5);
color:#d32f2f;

}
.MUI_Button_error_outlined:hover {
background-color:rgba(211, 47, 47, 0.04);
border:1px solid #d32f2f;
 
}
.MUI_Button_error_text {
color:#d32f2f;

}
.MUI_Button_error_text:hover {
background-color:rgba(211, 47, 47, 0.04);
 
}
.MUI_Button_success_contained {
background-color:#2e7d32;
color:#fff;

}
.MUI_Button_success_contained:hover {
background-color:#1b5e20;
box-shadow:0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
 
}
.MUI_Button_success_outlined {
color:#2e7d32;
border:1px solid rgba(46, 125, 50, 0.5);

}
.MUI_Button_success_outlined:hover {
border:1px solid #2e7d32;
background-color:rgba(46, 125, 50, 0.04);
 
}
.MUI_Button_success_text {
color:#2e7d32;

}
.MUI_Button_success_text:hover {
background-color:rgba(46, 125, 50, 0.04);
 
}
.MUI_Button_size_small_contained {
padding:4px 10px;
font-size:0.815rem;

}
.MUI_Button_size_small_outlined {
padding:3px 9px;
font-size:0.8125rem;

}
.MUI_Button_size_small_text {
padding:4px 5px;
font-size:0.8125rem;

}
.MUI_Button_size_medium_contained {
padding:6px 16px;
font-size:0.875rem;

}
.MUI_Button_size_medium_outlined {
padding:5px 15px;
font-size:0.875rem;

}
.MUI_Button_size_medium_text {
padding:6px 8px;
font-size:0.875rem;

}
.MUI_Button_size_large_contained {
padding:8px 22px;
font-size:0.9375rem;

}
.MUI_Button_size_large_outlined {
padding:7px 21px;
font-size:0.9375rem;

}
.MUI_Button_size_large_text {
padding:8px 11px;
font-size:0.9375rem;

}
.MUI_Button_disabled {
cursor:default;
pointer-events:none;

}
.MUI_Button_disabled_text {
color:rgba(255, 255, 255, 0.3);

}
.MUI_Button_disabled_contained {
color:rgba(135, 135, 135, 0.3);
box-shadow:none;
background-color:rgba(255, 255, 255, 0.12);

}
.MUI_Button_disabled_contained:hover {
background-color:rgba(135, 135, 135, 0.12);
 
}
.MUI_Button_disabled_outlined {
color:rgba(135, 135, 135, 0.3);
border:1px solid rgba(255, 255, 255, 0.12);

}
.MUI_Button_disabled_outlined:hover {
text-decoration:none;
background-color:rgba(33, 150, 243, 0.08);
 
}
.MUI_ButtonGroup {
display:inline-flex;
border-radius:4px;
box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

}
.MUI_ButtonGroup > .MUI_Button {
border-radius: 0px;
margin-right: 1px;
}
.MUI_ButtonGroup_vertical_group {
flex-direction:column;

}
.MUI_CheckBox {
display:inline-flex;
align-items:center;
justify-content:center;
position:relative;
box-sizing:border-box;
background-color:transparent;
outline:0px;
border:0px;
margin:0px;
cursor:pointer;
user-select:none;
vertical-align:middle;
appearance:none;
text-decoration:none;
padding:9px;
border-radius:50%;
color:rgba(255, 255, 255, 0.7);
overflow:hidden;

}
.MUI_CheckBox:hover {
background-color:rgba(33, 150, 243, 0.08);
 
}
.MUI_CheckBox_size_small {
scale:0.75;

}
.MUI_CheckBox_size_medium {
scale:0.84;

}
.MUI_CheckBox_size_large {
scale:1;

}

.MUI_CheckBox_disabled_checked:hover {
background:none;
cursor:default;
 
}

.MUI_CheckBox_disabled_unchecked:hover {
background:none;
cursor:default;
 
}
.MUI_Checkbox_wrapper {
border:2px solid #333;
border-radius:5px;
width:20px;
height:20px;
display:flex;
justify-content:center;
align-items:center;

}
.MUI_Checkbox_wrapper > svg { fill: white; }
.MUI_Checkbox_wrapper_checked {
background:rgb(33, 150, 243);
border-color:rgb(33, 150, 243);

}
.MUI_Checkbox_wrapper_checked > svg { fill: white; }
.MUI_Checkbox_wrapper_disabled_unchecked {
border-color:rgba(0, 0, 0, 0.3);
background-color:transparent;

}
.MUI_Checkbox_wrapper_disabled_unchecked > svg { fill: transparent; }
.MUI_Checkbox_wrapper_disabled_checked {
border-color:transparent;
background-color:rgba(0, 0, 0, 0.3);

}
.MUI_Checkbox_wrapper_disabled_checked > svg { fill: white; }
.MUI_Chip_Root {
max-width:100%;
font-family:Roboto, Helvetica, Arial, sans-serif;
font-size:0.8125rem;
display:inline-flex;
--webkit-box-align:center;
align-items:center;
--webkit-box-pack:center;
justify-content:center;
height:32px;
color:var(--MUI_Chip_Root-0);
transition:background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
border-radius:16px;
cursor:unset;
white-space:nowrap;
outline:0px;
text-decoration:none;
padding:0px;
box-sizing:border-box;
vertical-align:middle;

}
.MUI_Chip_Root_outlined {
background-color:transparent;
border:1px solid rgb(97, 97, 97);

}
.MUI_Chip_Root_filled {
background-color:var(--MUI_Chip_Root-1);
border:0px;

}
.MUI_Chip_Root_clickable {
cursor:pointer;

}

.MUI_Chip_Root_clickable_filled:hover {
background-color:rgba(0, 0, 0, 0.12);
 
}

.MUI_Chip_Root_clickable_outlined:hover {
background-color:rgba(0, 0, 0, 0.04);
 
}
.MUI_Chip_Root_primary {
border-color:var(--MUI_Chip_Root-2);

}
.MUI_Chip_Root_primary_filled {
background-color:var(--MUI_Chip_Root-3);

}
.MUI_Chip_Root_secondary {
border-color:var(--MUI_Chip_Root-4);

}
.MUI_Chip_Root_secondary_filled {
background-color:var(--MUI_Chip_Root-5);

}
.MUI_Chip_Root_error {
border-color:var(--MUI_Chip_Root-6);

}
.MUI_Chip_Root_error_filled {
background-color:var(--MUI_Chip_Root-7);

}
.MUI_Chip_Root_success {
border-color:var(--MUI_Chip_Root-8);

}
.MUI_Chip_Root_success_filled {
background-color:var(--MUI_Chip_Root-9);

}
.MUI_Chip_Label {
overflow:hidden;
text-overflow:ellipsis;
padding-left:12px;
padding-right:12px;
white-space:nowrap;

}
.MUI_Chip_Label_primary_filled {
color:white;

}
.MUI_Chip_Label_primary_outlined {
color:var(--MUI_Chip_Label-0);

}
.MUI_Chip_Label_secondary_filled {
color:white;

}
.MUI_Chip_Label_secondary_outlined {
color:var(--MUI_Chip_Label-1);

}
.MUI_Chip_Label_error_filled {
color:var(--MUI_Chip_Label-2);

}
.MUI_Chip_Label_success_filled {
color:var(--MUI_Chip_Label-3);

}
.MUI_Chip_Close_Svg_Wrapper {
border-radius:50%;
color:rgba(0, 0, 0, 0.4);
margin:0 4px 0 4px;
scale:0.76;
cursor:pointer;
background-color:rgba(0,0,0, 0.26);

}
.MUI_Chip_Close_Svg_Wrapper:hover {
background-color:rgba(0, 0, 0, 0.4);
 
}
.MUI_Chip_Close_Svg_Wrapper > svg { fill: var(--MUI_Chip_Close_Svg_Wrapper-0); }
.MUI_Chip_Close_Svg_Wrapper_primary_filled {
background-color:var(--MUI_Chip_Close_Svg_Wrapper-2);

}
.MUI_Chip_Close_Svg_Wrapper_primary_filled > svg { fill: var(--MUI_Chip_Close_Svg_Wrapper-1); }
.MUI_Chip_Close_Svg_Wrapper_primary_outlined {
background-color:var(--MUI_Chip_Close_Svg_Wrapper-4);

}
.MUI_Chip_Close_Svg_Wrapper_primary_outlined > svg { fill: var(--MUI_Chip_Close_Svg_Wrapper-3); }
.MUI_Chip_Close_Svg_Wrapper_secondary_filled {
background-color:var(--MUI_Chip_Close_Svg_Wrapper-6);

}
.MUI_Chip_Close_Svg_Wrapper_secondary_filled > svg { fill: var(--MUI_Chip_Close_Svg_Wrapper-5); }
.MUI_Chip_Close_Svg_Wrapper_secondary_outlined {
background-color:var(--MUI_Chip_Close_Svg_Wrapper-8);

}
.MUI_Chip_Close_Svg_Wrapper_secondary_outlined:hover {
background-color:var(--MUI_Chip_Close_Svg_Wrapper-9);
 
}
.MUI_Chip_Close_Svg_Wrapper_secondary_outlined > svg { fill: var(--MUI_Chip_Close_Svg_Wrapper-7); }
.MUI_Chip_Close_Svg_Wrapper_error > svg { fill: var(--MUI_Chip_Close_Svg_Wrapper-10); }
.MUI_Chip_Close_Svg_Wrapper_error_filled {
background-color:var(--MUI_Chip_Close_Svg_Wrapper-11);

}
.MUI_Chip_Close_Svg_Wrapper_success > svg { fill: var(--MUI_Chip_Close_Svg_Wrapper-12); }
.MUI_Chip_Close_Svg_Wrapper_success_filled {
background-color:var(--MUI_Chip_Close_Svg_Wrapper-13);

}
.MUI_Chip_Close_Svg_Wrapper_success_filled:hover {
background-color:var(--MUI_Chip_Close_Svg_Wrapper-14);
 
}
.MUI_Chip_Icon_Svg_Wrapper {
border-radius:50%;
color:rgba(0, 0, 0, 0.4);
scale:0.6;
transform:translateX(-6px);

}
.MUI_Chip_Icon_Svg_Wrapper > svg { fill: white; }
.MUI_Chip_Icon_Svg_Wrapper_primary > svg { fill: var(--MUI_Chip_Icon_Svg_Wrapper-0); }
.MUI_Chip_Icon_Svg_Wrapper_error > svg { fill: var(--MUI_Chip_Icon_Svg_Wrapper-1); }
.MUI_Chip_Icon_Svg_Wrapper_success > svg { fill: var(--MUI_Chip_Icon_Svg_Wrapper-2); }
.MUI_Dialog_Root {
position:fixed;
z-index:1300;
inset:0px;

}
.MUI_Dialog_Root_closed {
display:none;

}
.MUI_Dialog_Container {
opacity:1;
transition:opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
height:100%;
outline:0px;
display:flex;
--webkit-box-pack:center;
justify-content:center;
--webkit-box-align:center;
align-items:center;

}
.MUI_Dialog_Title {
padding:16px 24px !important;
flex:0 0 auto;

}
.MUI_Dialog_Content_Root {
padding-top:0px;
flex:1 1 auto;
overflow-y:auto;
padding:20px 24px;

}
.MUI_Dialog_Action_Root {
display:flex;
--webkit-box-align:center;
align-items:center;
padding:8px;
--webkit-box-pack:end;
justify-content:flex-end;
flex:0 0 auto;

}
.MUI_Typography_Root {
margin:0px;
font-family:Roboto, Helvetica, Arial, sans-serif;
line-height:1.5;
letter-spacing:0.00938em;
color:var(--MUI_Typography_Root-0);

}
.MUI_Typography_Root_string {
font-weight:400;
font-size:1rem;

}
.MUI_Drawer_Root {
position:fixed;
z-index:1200;
inset:0px;
transition:transform 1000ms;
display:flex;

}
.MUI_Drawer_Box {
transform:none;
transition:transform 350ms cubic-bezier(0, 0, 0.2, 1);
display:flex;
flex-direction:column;
width:fit-content;

}
.MUI_Drawer_Box_closed_left {
transform:translateX(-100%);

}
.MUI_ListItem_ul {
list-style:none;
margin:0px;
padding:8px 0px;
position:relative;

}
.MUI_ListItem_ul_noPadding {
padding:0px;

}
.MUI_ListItem_li {
display:flex;
---webkit-box-pack:start;
justify-content:flex-start;
---webkit-box-align:center;
align-items:center;
position:relative;
text-decoration:none;
width:100%;
box-sizing:border-box;
text-align:left;

}
.MUI_ListItem_li_Wrapper {
---webkit-tap-highlight-color:transparent;
background-color:transparent;
outline:0px;
border:0px;
margin:0px;
border-radius:0px;
cursor:pointer;
user-select:none;
vertical-align:middle;
appearance:none;
color:inherit;
display:flex;
---webkit-box-flex:1;
flex-grow:1;
---webkit-box-pack:start;
justify-content:flex-start;
---webkit-box-align:center;
align-items:center;
position:relative;
text-decoration:none;
min-width:0px;
box-sizing:border-box;
text-align:left;
padding:8px 16px;
transition:background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.MUI_ListItem_li_Wrapper:hover {
text-decoration:none;
background-color:var(--MUI_ListItem_li_Wrapper-0);
 
}
.MUI_ListItem_li_Wrapper_selected {
background-color:var(--MUI_ListItem_li_Wrapper-1);

}
.MUI_ListItem_li_Content_Wrapper {
flex:1 1 auto;
min-width:0px;
margin-top:4px;
margin-bottom:4px;

}
.MUI_ListItem_li_StartIcon_Root {
min-width:56px;
color:var(--MUI_ListItem_li_StartIcon_Root-0);
flex-shrink:0;
display:inline-flex;

}
.MUI_ListItem_EndElement_Root {
color:var(--MUI_ListItem_EndElement_Root-0);

}
.MUI_ListItem_li_StartIcon_SVG {
---webkit-user-select:none;
---moz-user-select:none;
---ms-user-select:none;
user-select:none;
width:1em;
height:1em;
display:inline-block;
fill:currentColor;
---webkit-flex-shrink:0;
---ms-flex-negative:0;
flex-shrink:0;
---webkit-transition:fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
transition:fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
font-size:1.5rem;

}
.MUI_FloatingButton {
display:inline-flex;
--webkit-box-align:center;
align-items:center;
--webkit-box-pack:center;
justify-content:center;
position:relative;
box-sizing:border-box;
--webkit-tap-highlight-color:transparent;
outline:0px;
border:0px;
margin:0px;
cursor:pointer;
user-select:none;
vertical-align:middle;
appearance:none;
text-decoration:none;
font-family:Roboto, Helvetica, Arial, sans-serif;
font-weight:700;
font-size:0.875rem;
line-height:1.75;
letter-spacing:0.02857em;
text-transform:uppercase;
min-height:auto;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 250ms;
border-radius:24px;
padding:0px 16px;
min-width:48px;
width:auto;
height:48px;
z-index:1050;
overflow:hidden;
box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
color:rgba(0, 0, 0, 0.87);
background-color:rgb(224, 224, 224);

}
.MUI_FloatingButton:hover {
background-color:rgba(224, 224, 224, 0.5);
 
}
.MUI_FloatingButton_animate_small {
transform:scale(0);

}
.MUI_FloatingButton_animate_large {
transform:scale(1);

}
.MUI_FloatingButton_size_small {
height:34px;
min-width:34px;
padding:0px 8px;

}
.MUI_FloatingButton_size_large {
height:48px;
min-width:48px;
padding:0px 16px;

}
.MUI_FloatingButton_text-enabled {
width:fit-content;
border-radius:50px;
padding:0 15px 0 15px;

}
.MUI_FloatingButton_text-enabled > svg { margin-right: 10px; }
.MUI_FloatingButton_color_primary {
color:white;
background-color:rgb(33, 150, 243);

}
.MUI_FloatingButton_color_primary:hover {
background-color:rgba(33, 150, 243, 0.7);
 
}
.MUI_FloatingButton_color_primary > svg { fill: white; }
.MUI_FloatingButton_color_secondary {
color:white;
background-color:rgb(0, 121, 107);

}
.MUI_FloatingButton_color_secondary:hover {
background-color:rgba(0, 121, 107, 0.7);
 
}
.MUI_FloatingButton_color_secondary > svg { fill: white; }
.MUI_FloatingButton_disabled {
cursor:default;
background-color:rgba(0, 0, 0, 0.12);
color:rgba(0, 0, 0, 0.5);

}
.MUI_FloatingButton_disabled:hover {
background-color:rgba(0, 0, 0, 0.12);
 
}
.MUI_FloatingButton_disabled > svg { fill: rgba(0, 0, 0, 0.3); }
.MUI_Form_Root {
display:inline-flex;
flex-direction:column;
position:relative;
min-width:0px;
padding:0px;
margin:0px;
border:0px;
vertical-align:top;
width:100%;

}
.MUI_Form_Form_Root {
display:grid;
column-gap:5px;
row-gap:5px;
grid-template-columns:repeat(auto-fit,minmax(80px,1fr));

}
.MUI_IconButton_Root {
display:inline-flex;
position:relative;
align-items:center;
justify-content:center;
box-sizing:border-box;
background-color:transparent;
outline:0px;
border:0px;
cursor:pointer;
margin:0px;
user-select:none;
vertical-align:middle;
appearance:none;
text-decoration:none;
text-align:center;
flex:0 0 auto;
font-size:1.5rem;
padding:10px;
border-radius:50%;
min-width:24px;
min-height:24px;
color:var(--MUI_IconButton_Root-0);
width:fit-content;
height:fit-content;
transition:background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
overflow:hidden;

}
.MUI_IconButton_Root:hover {
background-color:rgba(33,150,243, 0.08);
 
}
.MUI_IconButton_Root_size_small {
transform:scale(1);

}
.MUI_IconButton_Root_size_medium {
transform:scale(1.3);

}
.MUI_IconButton_Root_size_large {
transform:scale(1.6);

}
.MUI_IconButton_Root_color_primary {
color:var(--MUI_IconButton_Root-1);

}
.MUI_IconButton_Root_color_secondary {
color:var(--MUI_IconButton_Root-2);

}
.MUI_IconButton_Root_disabled {
pointer-events:none;
cursor:default;
color:var(--MUI_IconButton_Root-3);

}
.MUI_IconButton_Root_disabled:hover {
background-color:inherit;
 
}
.MUI_IconButton_Icon {
fill:currentcolor;

}
.MUI_Menu_Wrapper {
width:fit-content;
height:fit-content;

}
.MUI_Menu_Wrapper_closed {
transform:scale(0,0) translateX(50%);
opacity:0;

}
.MUI_Menu_Root {
list-style:none;
margin:0px;
padding:8px 0px;
position:relative;

}
.MUI_Menu_Root_closed {
transform:scale(0,0);
overflow:hidden;

}
.MUI_Menu_Element_Root {
--webkit-tap-highlight-color:transparent;
background-color:transparent;
outline:0px;
border:0px;
margin:0px;
border-radius:0px;
cursor:pointer;
user-select:none;
vertical-align:middle;
appearance:none;
color:inherit;
font-family:Roboto, Helvetica, Arial, sans-serif;
font-weight:400;
font-size:1rem;
line-height:1.5;
letter-spacing:0.00938em;
display:flex;
--webkit-box-pack:start;
justify-content:flex-start;
--webkit-box-align:center;
align-items:center;
position:relative;
text-decoration:none;
padding:6px 16px;
box-sizing:border-box;
white-space:nowrap;
overflow:hidden;
width:100%;

}
.MUI_Menu_Element_Root:hover {
text-decoration:none;
background-color:rgba(0, 0, 0, 0.04);
 
}
.MUI_Menu_Element_StartIcon {
min-width:56px;
color:rgba(0, 0, 0, 0.54);
flex-shrink:0;
display:inline-flex;

}
.MUI_Pagination_Root {
display:flex;
flex-wrap:wrap;
--webkit-box-align:center;
align-items:center;
padding:0px;
margin:0px;
list-style:none;

}
.MUI_Pagination_Element {
width:40px;
height:40px;

}
.MUI_Progress_Root {
display:inline-block;
animation:1.4s linear 0s infinite normal none running MUI-Progress-Wheel;
width:40px;
height:40px;

}
@keyframes MUI-Progress-Wheel { 
0% { 
transform:rotate(0deg);

 }
100% { 
transform:rotate(360deg);

 } 
}
.MUI_Progress_Root_primary {
color:var(--MUI_Progress_Root-0);

}
.MUI_Progress_Root_secondary {
color:var(--MUI_Progress_Root-1);

}
.MUI_Progress_Root_error {
color:var(--MUI_Progress_Root-2);

}
.MUI_Progress_Root_success {
color:var(--MUI_Progress_Root-3);

}
.MUI_Progress_Cicle {
stroke:currentcolor;
stroke-dasharray:80px, 200px;
stroke-dashoffset:0;
animation:1.4s ease-in-out 0s infinite normal none running MUI_Progress_Circle;

}
@keyframes MUI_Progress_Circle { 
0% { 
stroke-dasharray:1px, 200px;
stroke-dashoffset:0;

 }
50% { 
stroke-dasharray:100px, 200px;
stroke-dashoffset:-15px;

 }
100% { 
stroke-dasharray:100px, 200px;
stroke-dashoffset:-125px;

 } 
}
.MUI_RadioButton_frame {
display:inline-flex;
align-items:center;
justify-content:center;
position:relative;
box-sizing:border-box;
background-color:transparent;
outline:0px;
border:0px;
margin:0px;
cursor:inherit;
user-select:none;
vertical-align:middle;
appearance:none;
text-decoration:none;
padding:9px;
border-radius:50%;

}
.MUI_RadioButton_frame:hover {
background-color:rgba(33, 150, 243, 0.08);
 
}
.MUI_RadioButton_wrapper {
display:inline-flex;
align-items:center;
cursor:pointer;
user-select:none;

}
.MUI_RadioButton_wrapper_disabled {
cursor:default;
border-color:rgba(0, 0, 0, 0.3);

}
.MUI_RadioFrame_frame {
border-radius:50%;
transition:ease-in-out 200ms;
cursor:inherit;
border:2px solid rgb(33, 150, 243);
padding:8px;

}
.MUI_RadioFrame_frame_selected {
padding:3px;

}
.MUI_RadioFrame_frame_disabled {
border:2px solid rgba(0, 0, 0, 0.3);

}
.MUI_Radio_Inner {
border-radius:50%;
transition:ease-in-out 200ms;
cursor:inherit;
width:0px;
height:0px;
background-color:rgb(33, 150, 243);

}
.MUI_Radio_Inner_selected {
width:10px;
height:10px;

}
.MUI_Radio_Inner_disabled {
background-color:rgba(0, 0, 0, 0.3);

}
.MUI_Radio_Label {
color:black;
cursor:inherit;

}
.MUI_Rating_Star_Wrapper {
display:flex;
flex-direction:row;

}
.MUI_Rating_Star {
transition:ease-in-out 200ms;
background-color:transparent;

}
.MUI_Rating_Star:hover {
transform:scale(1.3);
 
}
.MUI_Rating_Star > svg { fill: rgb(250, 175, 0); }

.MUI_Rating_Star_readOnly:hover {
transform:none;
 
}
.MUI_Rating_Star_disabled {
opacity:0.38;
transform:none;

}
.MUI_Divier_Root {
margin:0px;
flex-shrink:0;
border-width:0px 0px thin;
border-style:solid;
border-color:rgba(0, 0, 0, 0.12);

}
.MUI_Skeleton_Root {
display:block;
background-color:rgba(0, 0, 0, 0.11);

}
@keyframes MUI-skeleton-pulse { 
0% { 
opacity:1;

 }
50% { 
opacity:0.4;

 }
100% { 
opacity:1;

 } 
}
@keyframes MUI-Skeleton-wave { 
0% { 
transform:translateX(-100%);

 }
50% { 
transform:translateX(100%);

 }
100% { 
transform:translateX(100%);

 } 
}
.MUI_Skeleton_Root_text {
height:auto;
margin-top:0px;
margin-bottom:0px;
transform-origin:0px 55%;
transform:scale(1, 0.6);
border-radius:4px / 6.7px;
font-size:1rem;

}
.MUI_Skeleton_Root_circular {
height:1.2em;
border-radius:50%;

}
.MUI_Skeleton_Root_rectangular {
height:1.2em;

}
.MUI_Skeleton_Root_rounded {
height:1.2em;
border-radius:4px;

}
.MUI_Skeleton_Root_pulse {
animation:2s ease-in-out 0.5s infinite normal none running MUI-skeleton-pulse;

}
.MUI_Skeleton_Root_wave {
overflow:hidden;

}
.MUI_Skeleton_Root_wave:after {
animation:2s linear 0.5s infinite normal none running MUI-Skeleton-wave;
background:linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
content:"";
position:absolute;
transform:translateX(-100%);
inset:0px;
 
}
.MUI_Skeleton_Root_wave:before {
content:" ";
 
}
.MUI_Skeleton_Root_autoSize {
height:100%;
width:100%;

}
.MUI_Slider_Root {
border-radius:12px;
box-sizing:content-box;
display:inline-block;
position:relative;
cursor:pointer;
touch-action:none;
--webkit-tap-highlight-color:transparent;
color:var(--MUI_Slider_Root-0);
height:4px;
width:100%;
padding:13px 0px;

}
.MUI_Slider_Root_disabled {
pointer-events:none;
cursor:default;
color:rgb(189, 189, 189);

}
.MUI_Slider_Rail {
display:block;
position:absolute;
border-radius:inherit;
background-color:currentcolor;
opacity:0.38;
width:100%;
height:inherit;
top:50%;
transform:translateY(-50%);

}
.MUI_Slider_Track {
display:block;
position:absolute;
border-radius:inherit;
border:1px solid currentcolor;
background-color:currentcolor;
transition:left 0ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, bottom 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
height:inherit;
top:50%;
transform:translateY(-50%);

}
.MUI_Slider_Thumb {
position:absolute;
width:20px;
height:20px;
box-sizing:border-box;
border-radius:50%;
outline:0px;
background-color:currentcolor;
display:flex;
--webkit-box-align:center;
align-items:center;
--webkit-box-pack:center;
justify-content:center;
transition:box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, cubic-bezier(0.4, 0, 0.2, 1) 0ms, bottom 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
top:50%;
transform:translate(-50%, -50%);

}
.MUI_Slider_Thumb:before {
position:absolute;
content:"";
border-radius:inherit;
width:100%;
height:100%;
box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
 
}
.MUI_Slider_Thumb:after {
position:absolute;
content:"";
border-radius:50%;
width:42px;
height:42px;
top:50%;
left:50%;
transform:translate(-50%, -50%);
 
}
.MUI_Slider_Thumb:hover {
box-shadow:rgba(var(--MUI_Slider_Thumb-0), 0.16) 0px 0px 0px 8px;
 
}
.MUI_Slider_Thumb:active {
box-shadow:rgba(var(--MUI_Slider_Thumb-1), 0.16) 0px 0px 0px 12px;
 
}
.MUI_Slider_Input {
border:0px;
clip:rect(0px, 0px, 0px, 0px);
height:100%;
margin:-1px;
overflow:hidden;
padding:0px;
position:absolute;
white-space:nowrap;
width:100%;
direction:ltr;

}
.MUI_ToolTip_Root {
transition:opacity ease-in-out;
transition-duration:250ms;
transition-delay:100ms;
opacity:0;
position:absolute;
color:var(--MUI_ToolTip_Root-0);
display:flex;
justify-content:center;
background-color:rgba(97, 97, 97, 0.92);
border-radius:4px;
font-family:"Roboto","Helvetica","Arial",sans-serif;
padding:4px 8px;
font-size:0.6875rem;
max-width:300px;
margin:2px;
word-wrap:break-word;
font-weight:500;

}
.MUI_ToolTip_Root_diplay {
opacity:1;

}
.MUI_Snackbar_root {
z-index:1400;
position:fixed;
display:none;
transition:ease-in-out 200ms;
animation-duration:1s;

}

          @keyframes SnackBarCloseAnimationFade {
              from {
                  opacity: 1;
                  display: flex;
              }
              to {
                  opacity: 0;
              }
          }
          @keyframes SnackBarOpenAnimationFade {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
          }
        

          @keyframes SnackBarCloseAnimationGrow {
              from {
                  transform: scale(1);
                  display: flex;
              }
              to {
                  transform: scale(0);
              }
          }
          @keyframes SnackBarOpenAnimationGrow {
            from {
                transform: scale(0);
            }
            to {
                transform: scale(1);
            }
          }
        

            @keyframes SnackBarCloseAnimationSlideTop {
                from {
                    display: flex;
                }
                to {
                    transform: translateY(-200px);
                }
            }
            @keyframes SnackBarOpenAnimationSlideTop {
              from {
                  transform: translateY(-200px);
              }
              to {}
            }

            @keyframes SnackBarCloseAnimationSlideBottom {
                from {
                    display: flex;
                }
                to {
                    transform: translateY(200px);
                }
            }
            @keyframes SnackBarOpenAnimationSlideBottom {
              from {
                  transform: translateY(200px);
              }
              to {
              }
            }
        
.MUI_Snackbar_root_top-left {
left:8px;
right:8px;
---webkit-box-pack:start;
justify-content:flex-start;
---webkit-box-align:center;
align-items:center;
top:8px;

}
@media (min-width: 600px) {
          .MUI_Snackbar_root_top-left { top:24px;
left:24px;
right:auto;

          }}
.MUI_Snackbar_root_top-center {
display:flex;
left:8px;
right:8px;
---webkit-box-pack:center;
justify-content:center;
---webkit-box-align:center;
align-items:center;
top:8px;

}

        @media (min-width: 600px) {
          .MUI_Snackbar_root_top-center { top:24px;
left:50%;
right:auto;
transform:translateX(-50%);
}}
.MUI_Snackbar_root_top-right {
left:8px;
right:8px;
---webkit-box-pack:end;
justify-content:flex-end;
---webkit-box-align:center;
align-items:center;
top:8px;

}
@media (min-width: 600px) {
          .MUI_Snackbar_root_top-right { top:24px;
right:24px;
left:auto;

          }}
.MUI_Snackbar_root_bottom-left {
z-index:1400;
position:fixed;
display:flex;
left:8px;
right:8px;
---webkit-box-pack:start;
justify-content:flex-start;
---webkit-box-align:center;
align-items:center;
bottom:8px;

}
@media (min-width: 600px) {
          .MUI_Snackbar_root_bottom-left { bottom:24px;
left:24px;
right:auto;

          }}
.MUI_Snackbar_root_bottom-center {
left:8px;
right:8px;
---webkit-box-pack:center;
justify-content:center;
---webkit-box-align:center;
align-items:center;
bottom:8px;

}
@media (min-width: 600px) {
          .MUI_Snackbar_root_bottom-center { bottom:24px;
left:50%;
right:auto;
transform:translateX(-50%);

          }}
.MUI_Snackbar_root_bottom-right {
left:8px;
right:8px;
---webkit-box-pack:end;
justify-content:flex-end;
---webkit-box-align:center;
align-items:center;
bottom:8px;

}
@media (min-width: 600px) {
          .MUI_Snackbar_root_bottom-right { bottom:24px;
right:24px;
left:auto;

          }}
.MUI_Snackbar_root_closed {
display:none;

}
.MUI_Snackbar_root_closed_fade {
animation-name:SnackBarCloseAnimationFade;

}
.MUI_Snackbar_root_closed_grow {
animation-name:SnackBarCloseAnimationGrow;
animation-duration:0.3s;

}
.MUI_Snackbar_root_closed_slide {
animation-duration:0.3;

}

          .MUI_Snackbar_root_closed_slide.MUI_Snackbar_root_bottom {
            animation-name: SnackBarCloseAnimationSlideBottom
          }
          .MUI_Snackbar_root_closed_slide.MUI_Snackbar_root_top {
            animation-name: SnackBarCloseAnimationSlideTop
          }
          
.MUI_Snackbar_root_opened {
display:flex;

}
.MUI_Snackbar_root_opened_fade {
animation-name:SnackBarOpenAnimationFade;

}
.MUI_Snackbar_root_opened_grow {
animation-name:SnackBarOpenAnimationGrow;
animation-duration:0.5s;

}
.MUI_Snackbar_root_opened_slide {
animation-duration:0.3;

}

          .MUI_Snackbar_root_opened_slide.MUI_Snackbar_root_bottom {
            animation-name: SnackBarOpenAnimationSlideBottom
          }
          .MUI_Snackbar_root_opened_slide.MUI_Snackbar_root_top {
            animation-name: SnackBarOpenAnimationSlideTop
          }
          
.MUI_Snackbar_paper {
transition:box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
box-shadow:rgba(0, 0, 0, 0.2) 0px 3px 5px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
font-family:Roboto, Helvetica, Arial, sans-serif;
font-weight:400;
font-size:0.875rem;
line-height:1.43;
letter-spacing:0.01071em;
color:rgb(255, 255, 255);
background-color:rgb(50, 50, 50);
display:flex;
---webkit-box-align:center;
align-items:center;
flex-wrap:wrap;
padding:6px 16px;
border-radius:4px;
---webkit-box-flex:1;
flex-grow:1;
opacity:1;
transform:none;

}
@media (min-width: 600px) { 
            .MUI_Snackbar_paper { ---webkit-box-flex:initial;
flex-grow:initial;
min-width:288px;
 } }
.MUI_Snackbar_Message_Container {
padding:8px 0px;

}
.MUI_Snackbar_Action_Container {
display:flex;
---webkit-box-align:center;
align-items:center;
margin-left:auto;
padding-left:16px;
margin-right:-8px;

}
.MUI_SpeedDial_Root {
display:flex;
flex-direction:column;
min-height:50;
min-width:50;
height:0;
width:0;
overflow:visible;
position:fixed;
bottom:15;
right:15;

}
.MUI_SpeedDial_Root_top {
flex-direction:column-reverse;

}
.MUI_SpeedDial_Root_left {
flex-direction:row-reverse;

}
.MUI_SpeedDial_Root_right {
flex-direction:row;

}
.MUI_SpeedDial_Root_bottom-left {
bottom:15;
left:15;

}
.MUI_SpeedDial_Root_top-left {
top:15;
left:15;

}
.MUI_SpeedDial_Root_top-right {
bottom:15;
right:15;

}
.MUI_SpeedDial_Open_Svg {
scale:1.5;
transition:rotate 225ms ease-in-out;

}
.MUI_SpeedDial_Open_Svg_opened {
rotate:45deg;

}
.MUI_SpeedDial_Menu_Wrapper {
display:flex;
justify-content:space-evenly;
align-items:center;
transition:scale 250ms ease-in-out, opacity 200ms ease-in-out;
transition-delay:50ms;
flex-direction:column;
scale:0;
opacity:0;
width:100%;
min-width:100%;

}
.MUI_SpeedDial_Menu_Wrapper_top {
flex-direction:column;

}
.MUI_SpeedDial_Menu_Wrapper_bottom {
flex-direction:column;

}
.MUI_SpeedDial_Menu_Wrapper_left {
flex-direction:row-reverse;

}
.MUI_SpeedDial_Menu_Wrapper_right {
flex-direction:row;

}
.MUI_SpeedDial_Menu_Wrapper_opened {
scale:1;
opacity:1;

}
.MUI_SpeedDial_Element_Root {
width:100%;
height:100%;
min-height:50;
min-width:50;
display:flex;
justify-content:center;

}
.MUI_Switch_Wrapper {
display:inline-flex;
width:58px;
height:38px;
overflow:hidden;
padding:12px;
box-sizing:border-box;
position:relative;
flex-shrink:0;
z-index:0;
vertical-align:middle;

}
.MUI_Switch_Button_Wrapper {
width:37px;
height:37px;
display:inline-flex;
---webkit-box-align:center;
align-items:center;
---webkit-box-pack:center;
justify-content:center;
box-sizing:border-box;
---webkit-tap-highlight-color:transparent;
background-color:transparent;
outline:0px;
border:0px;
margin:0px;
cursor:pointer;
user-select:none;
vertical-align:middle;
appearance:none;
text-decoration:none;
padding:9px;
border-radius:50%;
position:absolute;
top:0px;
left:0px;
z-index:1;
color:rgb(255, 255, 255);
transition:left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.MUI_Switch_Button_Wrapper:hover {
background-color:rgba(0, 0, 0, 0.04);
 
}
.MUI_Switch_Button_Wrapper_checked {
transform:translateX(20px);

}

.MUI_Switch_Button_Wrapper_disabled:hover {
background-color:transparent;
 
}
.MUI_Switch_Button {
display:inline-flex;
--webkit-box-align:center;
align-items:center;
--webkit-box-pack:center;
justify-content:center;
box-sizing:border-box;
---webkit-tap-highlight-color:transparent;
background-color:transparent;
outline:0px;
border:0px;
margin:0px;
cursor:pointer;
user-select:none;
vertical-align:middle;
appearance:none;
text-decoration:none;
padding:9px;
border-radius:50%;
position:absolute;
top:0px;
left:0px;
z-index:1;
color:rgb(255, 255, 255);
transition:left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

}
.MUI_Switch_Thumb {
box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
background-color:currentcolor;
width:20px;
height:20px;
border-radius:50%;

}
.MUI_Switch_Thumb_checked {
background-color:rgb(33, 150, 243);

}
.MUI_Switch_Thumb_color_success {
background-color:rgb(102, 187, 106);

}
.MUI_Switch_Thumb_color_error {
background-color:#d32f2f;

}
.MUI_Switch_Thumb_disabled {
opacity:0.65;

}
.MUI_Switch_Thumb_size_small {
transform:scale(0.8);

}
.MUI_Switch_thumb_Wrapper {
overflow:hidden;
pointer-events:none;
position:absolute;
z-index:0;
inset:0px;
border-radius:inherit;

}
.MUI_Switch_Input {
cursor:inherit;
position:absolute;
opacity:0;
width:100%;
height:100%;
top:0px;
left:0px;
margin:0px;
padding:0px;
z-index:1;

}
.MUI_Switch_Track {
height:100%;
width:100%;
border-radius:7px;
z-index:-1;
transition:opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
background-color:rgb(0, 0, 0);
opacity:0.38;

}
.MUI_Switch_Track_checked {
background-color:rgb(33, 150, 243);
opacity:0.60;

}
.MUI_Switch_Track_color_success {
background-color:rgb(102, 187, 106);

}
.MUI_Switch_Track_color_error {
background-color:#d32f2f;

}
.MUI_Switch_Track_disabled {
opacity:0.25;

}
.MUI_Switch_Track_size_small {
transform:scale(0.8);

}
.MUI_TextField_Wrapper {
display:inline-flex;
vertical-align:top;
border:0px;
margin:0px;
flex-direction:column;
position:relative;
min-width:0px;
padding:0px;

}
.MUI_TextField_Wrapper_outlined {
background-color:inherit;

}
.MUI_TextField_Wrapper_filled {
--webkit-flex-direction:column;
-ms-flex-direction:column;

}
.MUI_TextField_Wrapper_standard {
--webkit-flex-direction:column;
-ms-flex-direction:column;

}
.MUI_TextField_label {
color:var(--MUI_TextField_label-0);
font-family:Roboto, Helvetica, Arial, sans-serif;
font-weight:400;
font-size:1rem;
letter-spacing:0.00938em;
transition:color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
overflow:hidden;
text-overflow:ellipsis;
display:block;
line-height:1.4375em;
padding:0px;
transform-origin:left top;
white-space:nowrap;

}
.MUI_TextField_label_outlined {
max-width:calc(100% - 24px);
position:absolute;
left:0px;
top:0px;
transform:translate(14px, 16px) scale(1);
z-index:2;
pointer-events:none;

}
.MUI_TextField_label_filled {
max-width:calc(100% - 24px);
position:absolute;
left:0px;
top:0px;
transform:translate(12px, 16px) scale(1);
z-index:1;
pointer-events:none;

}
.MUI_TextField_label_standard {
max-width:100%;
transform:translate(0px, 30px) scale(1);

}
.MUI_TextField_label_hasValue_standard {
transform:translate(0px, 10px) scale(0.75);

}
.MUI_TextField_label_hasValue_filled {
transform:translate(12px, 7px) scale(0.75);

}
.MUI_TextField_label_hasValue_outlined {
transform:translate(14px, -9px) scale(0.75);
max-width:calc(133% - 32px);
pointer-events:auto;
user-select:none;
padding:0px;

}
.MUI_TextField_label_focus_standard {
color:rgb(33, 150, 243);
transform:translate(0px, 10px) scale(0.75);

}
.MUI_TextField_label_focus_filled {
transform:translate(12px, 2px) scale(0.9);
color:rgb(33, 150, 243);

}
.MUI_TextField_label_focus_outlined {
color:rgb(33, 150, 243);
transform:translate(14px, -9px) scale(0.75);
max-width:calc(133% - 32px);
pointer-events:auto;
user-select:none;
padding:0px;

}
.MUI_TextField_label_color_success {
color:rgb(102, 187, 106);

}
.MUI_TextField_label_color_error {
color:#d32f2f;

}
.MUI_TextField_label_hasStartIcon_standard {
transform:translate(20px, 30px) scale(1);

}
.MUI_TextField_label_hasStartIcon_outlined {
transform:translate(25px, 16px) scale(1);

}
.MUI_TextField_AnimationWrapper {
background-color:var(--MUI_TextField_AnimationWrapper-0);
height:1px;
left:0px;
bottom:0px;
content:" ";
position:absolute;
right:0px;
transition:border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
pointer-events:none;

}
.MUI_TextField_AnimationWrapper_color_success {
background-color:rgb(102, 187, 106);

}
.MUI_TextField_AnimationWrapper_color_error {
background-color:#d32f2f;

}
.MUI_TextField_AnimationStyle {
border-bottom:2px solid rgb(33, 150, 243);
left:0px;
bottom:0px;
content:"";
position:absolute;
right:0px;
transition:transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
pointer-events:none;
transform:scaleX(0);

}
.MUI_TextField_AnimationStyle_color_success {
border-bottom:2px solid rgb(102, 187, 106);

}
.MUI_TextField_AnimationStyle_color_error {
border-bottom:2px solid #d32f2f;

}
.MUI_TextField_AnimationStyle_focus {
transform:scaleX(1) translateX(0px);

}
.MUI_TextField_Box {
font-family:Roboto, Helvetica, Arial, sans-serif;
font-weight:400;
font-size:1rem;
line-height:1.4375em;
letter-spacing:0.00938em;
color:var(--MUI_TextField_Box-0);
box-sizing:border-box;
cursor:text;
display:inline-flex;
--webkit-box-align:center;
align-items:center;
position:relative;

}
.MUI_TextField_Box_outlined {
border-radius:4px;
background:inherit;

}
.MUI_TextField_Box_outlined:hover {
border-color:var(--MUI_TextField_Box-0);
 
}
.MUI_TextField_Box_filled {
background-color:var(--MUI_TextField_Box-1);
border-top-left-radius:4px;
border-top-right-radius:4px;
transition:background-color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
border-bottom:1px solid var(--MUI_TextField_Box-2);

}
.MUI_TextField_Box_filled:hover {
background-color:var(--MUI_TextField_Box-3);
 
}

.MUI_TextField_Box_standard:before {
border-bottom:1px solid var(--MUI_TextField_Box-4);
background-color:transparent;
left:0;
bottom:0;
content:"";
position:absolute;
right:0;
--webkit-transition:border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
transition:border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
pointer-events:none;
 
}
.MUI_TextField_Box_standard:after {
border-bottom:2px solid var(--MUI_TextField_Box-5);
left:0px;
background-color:transparent;
bottom:0px;
content:"";
position:absolute;
right:0px;
transform:scaleX(0);
transition:transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
pointer-events:none;
 
}
.MUI_TextField_Box_standard:hover .MUI_TextField_AnimationWrapper { height: 2px; background-color: var(--MUI_TextField_Box-0); }
.MUI_TextField_Box_color_error_filled {
border-bottom:1px solid #d32f2f;

}
.MUI_TextField_Box_color_success_filled {
border-bottom:1px solid rgb(102, 187, 106);

}
.MUI_TextField_Box_disabled_standard:hover .MUI_TextField_AnimationWrapper { height: 1px; background-color: var(--MUI_TextField_Box-6)}
.MUI_TextField_helpText {
color:var(--MUI_TextField_helpText-0);
font-family:Roboto, Helvetica, Arial, sans-serif;
font-weight:400;
font-size:0.75rem;
line-height:1.66;
letter-spacing:0.03333em;
text-align:left;
margin:3px 0px 0px;
cursor:default;

}
.MUI_TextField_FieldSet {
text-align:left;
position:absolute;
inset:-5px 0px 0px;
margin:0px;
padding:0px 8px;
pointer-events:none;
border-radius:inherit;
border-style:solid;
border-width:1px;
overflow:hidden;
min-width:0%;
border-color:var(--MUI_TextField_FieldSet-0);

}
.MUI_TextField_FieldSet:hover {
border-color:var(--MUI_TextField_FieldSet-1);
background:red;
 
}
.MUI_TextField_FieldSet_focus {
border-color:rgb(33, 150, 243);
border-width:2px;

}
.MUI_TextField_FieldSet_color_success_outlined {
border-color:#d32f2f;
border-width:2px;

}
.MUI_TextField_FieldSet_color_error_outlined {
border-color:#d32f2f;
border-width:2px;

}
.MUI_TextField_legend {
float:unset;
width:auto;
overflow:hidden;
display:block;
padding:0;
height:11px;
font-size:0.75em;
visibility:hidden;
max-width:0.01px;
--webkit-transition:max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
transition:max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
white-space:nowrap;

}
.MUI_TextField_legend>span {
padding-left:5px;
padding-right:5px;
display:inline-block;
opacity:0;
visibility:visible;
 
}
.MUI_TextField_legend_focus {
max-width:100%;
transition:max-width 100ms cubic-bezier(0.0, 0, 0.2, 1) 50ms;

}
.MUI_TextField_legend_hasValue {
max-width:100%;
transition:max-width 100ms cubic-bezier(0.0, 0, 0.2, 1) 50ms;

}
.MUI_TextField_Input {
font:inherit;
letter-spacing:inherit;
color:currentcolor;
border:0px;
box-sizing:content-box;
height:1.4375em;
margin:0px;
display:block;
min-width:0px;
width:100%;
animation-name:mui-auto-fill-cancel;
animation-duration:10ms;
cursor:inherit;

}
.MUI_TextField_Input_outlined {
background:inherit;
padding:16.5px 14px;
-webkit-text-fill-color:var(--MUI_TextField_Input-0);

}
.MUI_TextField_Input_outlined:focus {
outline:0px;
 
}
.MUI_TextField_Input_filled {
background:none;
--webkit-tap-highlight-color:transparent;
padding:25px 12px 8px;

}
.MUI_TextField_Input_filled:before {
border-bottom:1px solid var(--MUI_TextField_Input-1);
left:0;
bottom:0;
content:" a0";
position:absolute;
right:0;
--webkit-transition:border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
transition:border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
pointer-events:none;
 
}
.MUI_TextField_Input_filled:after {
border-bottom:2px solid #1976d2;
left:0;
bottom:0;
content:"";
position:absolute;
right:0;
--webkit-transform:scaleX(0);
--moz-transform:scaleX(0);
--ms-transform:scaleX(0);
transform:scaleX(0);
--webkit-transition:-webkit-transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
transition:transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
pointer-events:none;
 
}
.MUI_TextField_Input_standard {
padding:4px 0px 5px;
background:none;
--webkit-tap-highlight-color:transparent;

}
.MUI_TextField_Input_focus_filled {
outline:0px;

}
.MUI_TextField_Input_focus_standard {
outline:0px;

}
.MUI_TextField_Input_disabled_outlined {
-webkit-text-fill-color:none;

}
.MUI_TextField_TextArea {
font:inherit;
letter-spacing:inherit;
color:currentcolor;
outline:none;
border:none;
box-sizing:content-box;
background:none;
height:auto;
margin:0px;
-webkit-tap-highlight-color:transparent;
display:block;
min-width:0px;
min-height:23px;
width:100%;
resize:none;
padding:0px;
overflow:hidden;

}
.MUI_TextField_TextArea:focus {
outline:none;
 
}
div:has(> .MUI_TextField_TextArea) { padding: 16.5px 14px; }
.MUI_Toggle_Button {
border-top-right-radius:0;
border-bottom-right-radius:0;
display:inline-flex;
--webkit-box-align:center;
align-items:center;
--webkit-box-pack:center;
justify-content:center;
position:relative;
box-sizing:border-box;
--webkit-tap-highlight-color:transparent;
background-color:transparent;
outline:0px;
margin:0px;
cursor:pointer;
user-select:none;
vertical-align:middle;
appearance:none;
text-decoration:none;
font-family:Roboto, Helvetica, Arial, sans-serif;
font-weight:500;
font-size:0.875rem;
line-height:1.75;
letter-spacing:0.02857em;
text-transform:uppercase;
padding:11px;
border:1px solid var(--MUI_Toggle_Button-1);
color:var(--MUI_Toggle_Button-2);

}
.MUI_Toggle_Button:hover {
background-color:var(--MUI_Toggle_Button-0);
text-decoration:none;
 
}
.MUI_Toggle_Button:first-child {
border-radius:4px 0 0 4px;
 
}
.MUI_Toggle_Button:last-child {
border-radius:0 4px 4px 0;
 
}
.MUI_Toggle_Button_selected {
background-color:var(--MUI_Toggle_Button-3);

}
.MUI_Toggle_Button_primary {
color:var(--MUI_Toggle_Button-4);
background-color:var(--MUI_Toggle_Button-5);

}
.MUI_Toggle_Button_primary:hover {
background-color:var(--MUI_Toggle_Button-6);
 
}
.MUI_Toggle_Button_secondary {
color:var(--MUI_Toggle_Button-7);
background-color:var(--MUI_Toggle_Button-8);

}
.MUI_Toggle_Button_secondary:hover {
background-color:var(--MUI_Toggle_Button-9);
 
}
.MUI_Toggle_Button_disabled {
border-left:1px solid transparent;
color:var(--MUI_Toggle_Button-10);
border:1px solid;
border-color:var(--MUI_Toggle_Button-11);
pointer-events:none;
cursor:default;

}
.MUI_Toggle_Button_Icon {
fill:currentcolor;

}
.MUI_Select_Root {
position:relative;

}
.MUI_Select_DropDown_Root {
overflow:hidden;
opacity:0;
transform:scale(1, 0);
transition:ease-in-out 150ms;
text-overflow:ellipsis;
position:absolute;
min-width:100%;
width:100%;
top:0;
left:0;

}
.MUI_Select_DropDown_Root_opened {
transform:scale(1, 1);
opacity:1;
top:55;
box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
border-radius:10px;

}